version: "3.9"
services:
  db:
    image: postgres:16
    container_name: inventory-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: inventory
    volumes:
      - inventory-postgres-data:/var/lib/postgresql/data
volumes:
  inventory-postgres-data:
